
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    background: url(img/bg1.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.header ul li{
    display: inline-block;
}

nav{
    background-color: #0c540c;
    text-align: center;
    height: 80px;
}

nav ul li{
    margin-left: 50px;
    margin-right: 42px;
    margin-top: 10px;
    padding: 15px;
    list-style: none;
    
}
nav ul li:hover{
    transform: scale(1.1);
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.welcome-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-box h1{
    text-align: center;
    color: #f5f7f5;
    font-size: 40px;
}
.welcome-box p{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
}
/* ------footer------------- */
.footer-main{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: rgb(15 91 43);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;

}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;

}
footer .container  h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #f00;


}
footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #f00;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
/* ------middle------- */
.middle-section{
    height: 50vh;
}
.text-box{
    text-align: center;
}
.text-box h1{
    font-size: 55px;
    color: #0c540c;
}
.text-box p{
    font-size: 20px;
    
}
.text-box-btn{
    margin-top: 25px;
}
.start-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(15, 7, 7);
    border-radius: 28px;
    padding: 12px 13px;
    font-size: 25px;
    background-color: #004f45;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.5s ease;
}
.get-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(15, 7, 7);
    border-radius: 28px;
    padding: 12px 13px;
    font-size: 25px;
    background-color: #00d667;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.5s ease;
}
.start-btn:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
.get-btn:hover{
    transform: scale(1.1);
    opacity: 0.5;
}

#burger{
    display: none;
}


@media(max-width:991px)
{
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;

    }
    footer .container .sec.aboutus{
        width: 100%;
    }
    .header ul li{
        display: block;
    }
    
    #burger{
        display: block;
    }

    .fa-bars{
        
        position: absolute;
        top: 3%;
        right: 6%;
        z-index: 15;
        color: #145314;
        transform: scale(1.4);
    }

    nav{
       
        width: 70vw;
        position: fixed;
        /* right: 0%; */
        z-index: 10;
        height: auto;
        /* right: -600px; */
        transition: 0.1s ease;
        top: 6%;
        height: auto;
    }

    .middle-section{
        padding-bottom: 120px;
        height: auto;
    }

}

@media(max-width:396px){
    .text-box h1{
        font-size: 35px;
        
    }
    .text-box p{
        font-size: 14px;
        
    }
}